body {

  background-color: grey;

}

span {



}

button {

  font-size: 2rem;
  color: lightgrey;

}

.list-inline > li {

  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 110px;


}

.nav-tabs.nav-justified > li > a {

  border-bottom: none;

}
